 body{
    margin: 2%;
    margin-left: 15%;
    margin-right: 15%;

  }
  .bot{
    background-color:crimson;
    color: #fff;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border:0px;
    height: 40px;

  }
  .ipt{
    width: 30%
  }
  .jumbotron{
    background-color: #541521;
  }
  .list-group-item{
    background-color: #ffffff4f;
  }
  .page-header{
    color: #fff;
  }
  .completed{
  	background-color: green;
  	color: white;
  }
  #fitem{color: #fff;}
  .div-bg {
 background-image: url("paper.gif");
 background-color: #cccccc;
}